<header>
  <h4>Viagens no dia {{ dataViagem }}</h4>

  <button
    id="btnProcessa"
    class="btn btn-primary"
    type="button"
    [disabled]="processando"
    (click)="processaVoos()"
  >
    <span
      [ngClass]="{ 'spinner-border spinner-border-sm': processando }"
      role="status"
      aria-hidden="true"
    ></span>
    {{ textoBotao }}
  </button>

  <button
    id="btnApagar"
    class="btn btn-primary"
    type="button"
    [disabled]="processando"
    (click)="apaga()"
  >
    Apagar
  </button>
</header>

<hr />
<div class="w-100 row d-flex justify-content-center">
  <app-estado-com-mais-aeroportos></app-estado-com-mais-aeroportos>
</div>
<hr />

<div class="w-100 h-100 row">
  <div class="w-50">
    <app-lista-viagens-longas></app-lista-viagens-longas>
  </div>
  <div class="w-50">
    <app-aeroportos-mais-proximos-mais-distantes></app-aeroportos-mais-proximos-mais-distantes>
  </div>
</div>
